main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#img-div, #img-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

img {
  max-width: 100%;
}

#div {
display: flex;
justify-content: center;
align-items:center;
}
